<!-- memo_list.html -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SNSもどき（試作）</title>
    <link rel="stylesheet" href="{% static 'css/sns.css' %}">
</head>
<body>
    <h1>SNSもどき（試作）</h1>

    <a href="{% url 'memo_create' %}" class="btn-create">つぶやく</a>

    <ul>
        {% for memo in memos %}
        <li>
            <strong>{{ memo.nickname }} :</strong><br>
            <p>{{ memo.content12 |linebreaksbr }}</p>
            <span class="date">{{ memo.created_at }}</span>
            <a href="{% url 'memo_delete' memo.pk %}" class="btn-delete">削除</a>
        </li>
        {% empty %}
        <li>まだ何もつぶやかれてないよ</li>
        {% endfor %}
    </ul>
</body>
</html>
